




.dropdown  
{
	border: 1px solid #929292;
	background-color: #ffffff;
	font-family: verdana;
	font-size: 10px;
	color: #000000;
	height:17px;
	width:127px;
	z-index:0px;
}



.Textfield
{
	
    border: 1px solid #929292;
	background-color: #ffffff;
	font-family: verdana;
	font-size: 10px;
	color: #000000;
	height:13px;
	width:134px;
	text-transform:uppercase;
		
	
}
.Textfieldcol3
{
	
    border: 1px solid #929292;
	background-color: #ffffff;
	font-family: verdana;
	font-size: 10px;
	color: #000000;
	height:13px;
	width:378px;
	text-transform:uppercase;
		
	
}
.Textfieldcol4
{
	
    border: 1px solid #929292;
	background-color: #ffffff;
	font-family: verdana;
	font-size: 10px;
	color: #000000;
	height:13px;
	width:372px;
	text-transform:uppercase;
		
	
}

.LabelText   
{ 
	font-family:Trebuchet MS;
	color:Black;
	text-align:right;
	height:11px;
	 font-size:small ;
}

.txtnew
{
	
    border: 1px solid #929292;
	background-color: #ffffff;
	font-family: verdana;
	font-size: 10px;
	color: #000000;
	height:13px;
	width:60px;
	text-transform:uppercase;
		
	
}

.txtnew1
{
	
    border: 1px solid #929292;
	background-color: #ffffff;
	font-family: verdana;
	font-size: 10px;
	color: #000000;
	height:13px;
	width:295px;
	text-transform:uppercase;
		
	
}

.txtnew2
{
	
    border: 1px solid #929292;
	background-color: #ffffff;
	font-family: verdana;
	font-size: 10px;
	color: #000000;
	height:13px;
	width:364px;
	text-transform:uppercase;
		
	
}