.display
{	border-bottom:solid 1px;
	border-right:solid 1px;
	border-color:Black;
	font-family :Times New Roman ;
	
	font-size :10px;
	color:Black ;
}
.display_k
{	

	font-family :Times New Roman ;
	font-size :10px;
	color:Black ;
}
.display1
{	border-bottom:solid 1px;
	border-color:Black;
	font-family :Times New Roman ;
	
	font-size :10px;
	color:Black ;
}
.display3
{
	border-right:solid 1px black;
}
.insertiontxtclass1
{
font-size:11px;
font-family :Verdana; 
height:13px;
border-right:solid 1px black;
border-bottom:solid 1px black;
}
.insertiontxtclass1_k
{
font-size:11px;
font-family :Verdana; 
height:13px;
border-top:solid 1px black;
border-bottom:solid 1px black;
}
.insertiontxtclass2
{
font-size:11px;
font-family :Verdana; 
height:13px;
border-bottom:solid 1px black;
}
.dataname
{
font-size:11px;
font-family :Verdana;
}	
.tabro
{
	font-size:11px;
	font-family :Verdana;
	/*border-right:solid 1px black;
	border-bottom:solid 1px black;*/
}
