vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|02 Jun 2009 13:14:07 -0000
vti_extenderversion:SR|4.0.2.8912
vti_cacheddtm:TX|02 Jun 2009 13:14:07 -0000
vti_filesize:IR|26719
vti_cachedlinkinfo:VX|S|./images/ltab_blue.gif S|./images/ltab_blue2.gif
vti_cachedsvcrellinks:VX|NSUS|webdir/css/images/ltab_blue.gif NSUS|webdir/css/images/ltab_blue2.gif
vti_backlinkinfo:VX|
